In [1]:
from sklearn.feature_extraction import DictVectorizer

import json
import pandas as pd

In [2]:
movie_ratings = [
    {'name': 'Avengers Endgame', 'imdb': 8.8},
    {'name': 'Inception', 'imdb': 8.8},
    {'name': 'The Wolf Of Wall Street', 'imdb': 8.2}]

In [3]:
vec = DictVectorizer()

In [4]:
transformed_vector = vec.fit_transform(movie_ratings).toarray()

transformed_vector

array([[8.8, 1. , 0. , 0. ],
       [8.8, 0. , 1. , 0. ],
       [8.2, 0. , 0. , 1. ]])

In [5]:
vec.get_feature_names()

['imdb',
 'name=Avengers Endgame',
 'name=Inception',
 'name=The Wolf Of Wall Street']

In [6]:
vec.vocabulary_

{'name=Avengers Endgame': 1,
 'imdb': 0,
 'name=Inception': 2,
 'name=The Wolf Of Wall Street': 3}

In [7]:
df = pd.DataFrame(transformed_vector, columns=vec.get_feature_names())

In [8]:
df.head()

   imdb  name=Avengers Endgame  name=Inception  name=The Wolf Of Wall Street
0   8.8                    1.0             0.0                           0.0
1   8.8                    0.0             1.0                           0.0
2   8.2                    0.0             0.0                           1.0